.flipCards .flip-container{
    position:relative;
    width:250px;
    height:320px;

}

.card{
    position:absolute;
    width:100%;
    height:100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    
}
.card:hover{
    transform:rotateY(180deg);
}
.front{
    width: 100%;
    height:100%;
    position: absolute;
    background: firebrick;
    color:#333;
    backface-visibility: hidden;
}
.back{
    width: 100%;
    height:100%;
    position: absolute;
    background: salmon;
    color:#298;
    backface-visibility: hidden;
transform: rotateY(180deg);
}
